
{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }} {% endblock %}

{% block body %}
<div class="slide">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3 text-center">
                {% if user.picture %}
                    <img src="/uploads/{{user.picture}}" alt="avatar de {{ user.fullName }}" class="avatar mb-3">
                {% else %}
                    <img src="http://placehold.it/200x200" alt="avatar de {{ user.fullName }}" class="avatar mb-3">
                {% endif %}
                <br>
            </div>
            <div class="col-9">
                <h1>{{ user.fullName }}</h1>
                {{ user.introduction }}
                {% if app.user %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-4">Modifier mes informations</a>
                        <a href="#" class="btn btn-primary mr-2 mb-4">Modifier mon mot de passe</a>
                        <a href="#" class="btn btn-primary mr-2 mb-4">Modifier mon avatar</a>
                    </div>
                {% endif %}
                
                {{ user.description | raw }}
            </div>       
        </div>
      
        <hr>
        </div>
        </div>
{% endblock %}